<form>
    <div>
        <label for="text">Tarefa:</label>
        <input type="text" 
               name="text"
               class="form-control"
               placeholder="Adicionar Tarefa"
               id="text">
    </div>

    <div class="mb-4">
        <label for="category">Categoria:</label>
        <select name="category" id="category">
            <option value="frontend">Frontend</option>
            <option value="backend">Backend</option>
            <option value="infra">Infra</option>
            <option value="others">Outros</option>
        </select>
    </div>

    <input type="submit" value="Salvar" class="btn btn-block">
</form>